$dark_primary_color: #1976d2;
$light_primary_color: #bbdefb;
$primary_color: #2196f3;
$icon_color: #ffffff;
$accent_color: #9e9e9e;
$text_color: #212121;
$secondary_text_color: #757575;
$divider_color: #bdbdbd;
