@import './color';
// @import './'

@mixin gridBody($mediaQuery, $leftPaneWidth, $bodyBlockWidth, $rightPaneWidth) {
  .body {
    grid-template-columns: $leftPaneWidth($bodyBlockWidth + $rightPaneWidth);
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
      &.settings-container,
      &.hidden-notes {
        grid-template-columns: ($bodyBlockWidth + $rightPaneWidth);
        .content-pane {
          width: $bodyBlockWidth;
        }
      }
    }
  }

  .left-pane-container {
    width: $leftPaneWidth;
  }
  .right-pane footer,
  .right-pane-editor footer {
    width: $rightPaneWidth;
  }

  .left-pane nav {
    width: $leftPaneWidth;
  }

  .menu-bar {
    .header-bottom,
    .header-top {
      grid-template-columns: $leftPaneWidth $bodyBlockWidth $rightPaneWidth;
    }
  }

  #notesSettings {
    right: $rightPaneWidth;
  }
}

@include gridBody(
  '@media only screen and (min-width: 1024px) and (max-width: 1279.98px)',
  $vw2,
  $vw7_5,
  $vw2_5
);

@include gridBody(
  '@media only screen and (min-width: 1280px)',
  $vw2,
  $vw7,
  $vw3
);

button {
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
  &:focus {
    background-color: initial;
  }
  outline: none;

  border-style: none;
}

@media only screen and (min-width: 512px) {
  .headerMiddlePane {
    grid-template-columns: 48px 48px 48px auto 48px 48px 48px;
  }

  #bookName {
    text-overflow: clip;
  }
}

@media only screen and (max-width: 700px) {
  #chapterTitle {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  #chapterShortTitle {
    display: none;
  }
}

@media only screen and (max-width: 499.98px) {
  .right-pane footer,
  .right-pane-editor footer {
    float: right;
    position: absolute;
    right: 0px;
    .half-notes-margin {
      display: none;
    }

    &.half-notes {
      position: fixed !important;
      width: 100%;
      top: 50%;
      border-top: 5px solid darkgrey;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 1023.98px) {
  .left-pane nav {
    width: $vw3;
  }

  #notesSettings {
    right: 10vw;
  }
}

.main-parent {
  display: grid;
  width: 100vw;

  @media screen and (max-width: 1023.98px) {
    grid-template-columns: 0 100vw;
    .navigation-pane {
      position: fixed;
      z-index: 10000;
    }
  }

  @mixin main-grid(
    $mediaQuery,
    $leftPaneWidth,
    $bodyBlockWidth,
    $rightPaneWidth
  ) {
    @media #{$mediaQuery} {
      grid-template-columns: $leftPaneWidth ($bodyBlockWidth + $rightPaneWidth);
      .parent-container {
        display: grid;
        height: 100vh;
        grid-template-columns: $bodyBlockWidth $rightPaneWidth;
        &.settings-container,
        &.hidden-notes {
          grid-template-columns: ($bodyBlockWidth + $rightPaneWidth) 0px;
        }
        &.settings-container {
          overflow-y: scroll;
        }
      }
    }
  }
  @include main-grid('screen and (min-width: 320px)', 0, $vw8, $vw4);
  @media screen and (orientation: portrait) and (max-width: 1023.98px) {
    .parent-container,
    .parent-container.hidden-notes {
      grid-template-columns: 100vw 0;
      .grid.content-pane {
        width: 100vw !important;
      }
    }
  }

  @include main-grid(' screen and (min-width: 1024px)', $vw2, $vw7, $vw3);

  .none {
    display: none !important;
  }

  #appBodyBlock {
    .body-block-nav-flex {
      display: flex;
      justify-content: center;

      .body-block-nav {
        position: fixed;
        top: 50%;
        background: inherit;
        color: #c4bebe;
        @media only screen and (max-width: 499.98px),
          (orientation: portrait) and (max-width: 1023.98px) {
          top: 25%;
        }
      }
    }
  }
  i {
    &.right {
      margin-left: 0px;
    }
    &.left {
      margin-right: 0px;
    }
  }
}
// @media screen and (max-width: 499.98px) {
//   .navigation-title {
//     display: none;
//   }
//   .navigation-short-title {
//     display: inline !important;
//   }
// }

// .navigation-short-title {
//   display: none;
// }

.display-title {
  .navigation-short-title {
    display: none;
  }
}
.display-short-title {
  .navigation-title {
    display: none;
  }
}
