@media only screen and (max-width: 1023.98px) {
  $leftPaneWidth: $vw1_5;
  $bodyBlockWidth: $vw9;
  $rightPaneWidth: $vw1_5;

  .body .router-outlet {
    grid-template-columns: 0 100vw; //$leftPaneWidth $bodyBlockWidth $rightPaneWidth;
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
      &.settings-container,
      &.hidden-notes {
        grid-template-columns: ($bodyBlockWidth + $rightPaneWidth);
        .content-pane > div {
          width: $bodyBlockWidth;
        }
      }
    }
    .right-pane footer,
    .right-pane-editor footer {
      float: right;
      position: absolute;
      right: 0px;
    }
  }

  .menu-bar {
    grid-template-columns:
      minmax(48px, $leftPaneWidth) minmax(auto, $bodyBlockWidth)
      minmax(48px, $rightPaneWidth);
    grid-template-areas: 'navToggle bookName addressBar btnParagraph btnPoetry empty  btnNewNotes btnEnglishNotes btnTranslatorNotes btnOriginalNotes btnSecondaryNotes btnRightPane';

    #addressBar {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: 10px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279.98px) {
  $leftPaneWidth: $vw2;
  $bodyBlockWidth: $vw7_5;
  $rightPaneWidth: $vw2_5;

  .body .router-outlet {
    grid-template-columns: $leftPaneWidth ($bodyBlockWidth + $rightPaneWidth);
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
      &.settings-container,
      &.hidden-notes {
        grid-template-columns: ($bodyBlockWidth + $rightPaneWidth);
        .content-pane > div {
          width: $bodyBlockWidth;
        }
      }
    }
  }
  .left-pane-container {
    width: $leftPaneWidth;
  }

  .left-pane nav {
    width: $leftPaneWidth;
  }

  .menu-bar {
    grid-template-columns: $leftPaneWidth $bodyBlockWidth $rightPaneWidth;
  }

  #notesSettings {
    right: $rightPaneWidth;
  }
}

@media only screen and (min-width: 1280px) {
  $leftPaneWidth: $vw2;
  $bodyBlockWidth: $vw7;
  $rightPaneWidth: $vw3;

  .body .router-outlet {
    grid-template-columns: $leftPaneWidth($bodyBlockWidth + $rightPaneWidth);
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
      &.settings-container,
      &.hidden-notes {
        grid-template-columns: ($bodyBlockWidth + $rightPaneWidth);
        .content-pane > div {
          width: $bodyBlockWidth;
        }
      }
    }
  }

  .left-pane-container {
    width: $leftPaneWidth;
  }
  .right-pane footer,
  .right-pane-editor footer {
    width: $rightPaneWidth;
  }

  .left-pane nav {
    width: $leftPaneWidth;
  }

  .menu-bar {
    grid-template-columns: $leftPaneWidth $bodyBlockWidth $rightPaneWidth;
  }

  #notesSettings {
    right: $rightPaneWidth;
  }
}

button {
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
  &:focus {
    background-color: initial;
  }
  outline: none;

  border-style: none;
}

@media only screen and (min-width: 512px) {
  #headerMiddlePane {
    grid-template-columns: 48px 48px 48px auto 48px 48px 48px;
  }

  #bookName {
    text-overflow: clip;
  }
}

@media only screen and (max-width: 499.98px) {
  .right-pane footer,
  .right-pane-editor footer,
  .left-pane nav {
    width: $vw11;
  }

  .right-pane footer,
  .right-pane-editor footer {
    float: right;
    position: absolute;
    right: 0px;
    .half-notes-margin {
      display: none;
    }

    &.half-notes {
      position: fixed !important;
      width: 100%;
      top: 50%;
      border-top: 5px solid darkgrey;
      // .half-notes-margin {
      //   display: block !important;
      //   position: fixed;
      //   width: 100%;
      //   height: 20px;
      //   background: grey;
      // }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 1023.98px) {
  .right-pane footer,
  .right-pane-editor footer {
    width: $vw6;
  }

  .left-pane nav {
    width: $vw3;
  }

  #notesSettings {
    right: 10vw;
  }
}

.main-parent {
  display: grid;
  width: 100vw;

  @media screen and (max-width: 899.98px) {
    grid-template-columns: 0 100vw;
    .navigation-pane {
      position: fixed;
      z-index: 10000;
    }
  }
  @media screen and (min-width: 900px) {
    $leftPaneWidth: 0;
    $bodyBlockWidth: $vw9;
    $rightPaneWidth: $vw3;
    grid-template-columns: $leftPaneWidth ($bodyBlockWidth + $rightPaneWidth);
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
    }
  }
  @media screen and (min-width: 1024px) {
    $leftPaneWidth: $vw2;
    $bodyBlockWidth: $vw7;
    $rightPaneWidth: $vw3;
    grid-template-columns: $leftPaneWidth ($bodyBlockWidth + $rightPaneWidth);
    .parent-container {
      display: grid;
      grid-template-columns: $bodyBlockWidth $rightPaneWidth;
    }
  }
  //   @media screen and (min-width: 1200px) {
  //     grid-template-columns: 20vw 80vw;
  //   }
  .none {
    display: none !important;
  }
}
