@import './color';
#leftPaneNav {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: rgb(245, 245, 245);
  li {
    display: grid;
    grid-template-columns: 1fr auto;
    /* align-items: center; */
    text-align: center;
    border-bottom-color: $divider_color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
  }
  .nav-link {
    color: $dark_primary_color !important;
    &.nav-focus {
      background-color: $light_primary_color !important;
    }
  }
  .nav-top {
    display: grid;
    grid-auto-rows: 48px;
  }
  .nav-list {
    width: inherit;
    display: grid;
    margin-top: 0;
    grid-auto-rows: 48px;
    li a {
      color: black;
    }
  }
  > .nav-list {
    overflow-y: auto;
    height: 95%;
  }
  .settings {
    display: grid;
    grid-template-columns: 48px 1fr;
    // position: fixed;
    // bottom: 0px;
    // width: 100%;
  }
  .nav-header {
    color: $text_color;
  }
  .search {
    display: grid;
    grid-template-columns: 34px auto;
    grid-gap: 10px;
    align-items: center;
    margin-top: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    transition: margin 0.25s ease;
    #addressBar {
      margin: 0;
      &::placeholder {
        text-align: left;
        // font-size: 24px;
        color: rgba($color: #000000, $alpha: 0.5);
      }
      &:focus {
        border: none !important;
        box-shadow: none;
      }
      border: none !important;
    }
  }

  svg {
    height: 40px;
    width: 40px;
  }
}
