.hidden-paragraph {
  div.paragraph {
    p {
      display: inline;
      margin: 0px !important;
    }
  }
}

.show-paragraph {
  div.paragraph {
    margin-bottom: 6pt;
  }
  div.hidden-paragraph {
    margin-bottom: 6pt;
  }
}

// The following will be preserved
.w-header {
  text-align: center;
  span {
    &.verse {
      font-family: serif !important;
      display: block !important;
      &#title1 {
        text-align: center;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: serif;
        margin: 6pt 0;
        text-align: center;
        padding-right: 20px;
      }

      &#study_summary1 {
        padding-right: 20px;
        font-family: $font-stack;
        margin: 0;
        margin-bottom: 6pt;
        font-style: italic;
      }

      &#title_number1 {
        padding-right: 20px;
        font-family: $font-stack;
        margin: 0;
        margin-top: 6pt;
        margin-bottom: 6pt;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
