.w-tag-popup {
  display: grid;
  z-index: 77777;
  position: absolute;
  $button_size: 60px;
  grid-template-columns: repeat(5, $button_size);

  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 60px;
  background-color: white;
  left: 50vw;
  margin-left: (-1 * $button_size * 2.5);
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  > * {
    grid-template-rows: 1fr 0.5fr;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 13px;
    grid-gap: 0px;
  }
}
