@mixin popup($button_size, $grid) {
  display: grid;
  z-index: 77777;
  position: absolute;
  // $button_size: 60px;
  grid-template-columns: $grid;

  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  grid-template-rows: $button_size;
  background-color: white;
  left: 50vw;
  margin-left: (-1 * $button_size * 2.5);
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.w-tag-popup {
  @include popup(60px, repeat(5, 60px));
  > * {
    grid-template-rows: 1fr 0.5fr;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 13px;
    grid-gap: 0px;
  }
}
.w-tag-color-palette {
  @include popup(32px, repeat(10, 32px));
  grid-column-gap: 0px;
  margin-left: (-150px);
  > * {
    height: 32px;
    width: 32px;
  }
}
