<div class="menu-bar">
  <button id='navToggle' (click)='toggleNavigation()'>
    <fa-icon [icon]="faBookOpen" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faParagraph" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faPlus" size="lg"></fa-icon>
  </button>
  <button (click)='toggleNotes()'>
    <fa-icon [icon]="faListUl" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <button>
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
</div>