@import '../styles/color';
.menu-bar {
  background-color: $light_primary_color;
  color: $text_color;
  fill: $text_color;
  button {
    background-color: inherit;
    color: inherit !important;

    &#btnParagraph {
      font-family: 'Courier New', Courier, monospace;

      font-size: 29px !important;
    }
    &#navToggle {
      font-size: 35px;
    }
    &#btnNotesFlyout {
      svg {
        font-size: 48px;
        vertical-align: middle;
      }
    }
    &#btnPoetry,
    &#btnParagraph,
    &#btnRightPane,
    &#navToggle,
    &#btnNotesFlyout {
      font-size: 27px;
      font-weight: bolder;

      svg {
        width: 0.85em;
        // height: 100%;
        display: inline-block;
      }
    }
  }
  i {
    font-size: 1em;
  }
  .header-arrows {
    font-size: 2em;
  }
  #bookName {
    // margin-top: 6px;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
}
