<div
  class="content-pane grid "
  id="appBodyBlock"
  (wheel)="this.onScroll()"
  (touchend)="this.onScroll()"
>
  <!-- <div id="highlight-holder" class="{{this.highlightClasses}}"></div> -->

  <div class="left-content-pane">
    <div class="body-block-nav-flex">
      <button
        class="body-block-nav"
        id="btnPreviousChapter"
        (click)="
          navService.btnPreviousPagePress(chapterService.chapter2.pageUrl)
        "
      >
        <!-- Secondary Notes -->
        <fa-icon [icon]="faChevronLeft" size="2x"></fa-icon>
      </button>
    </div>
  </div>

  <div
    class="bypassSecurityTrustHtml"
    id="bodyBlock"
    class="body-block "
    [ngClass]="{
      'hidden-paragraph': !saveState.data.paragraphsVisible,
      'show-paragraph': saveState.data.paragraphsVisible,
      'show-poetry': saveState.data.poetryVisible,
      'notes-hide-original': !saveState.data.originalNotesVisible,
      'notes-show-original': saveState.data.originalNotesVisible
    }"
  >
    <div id="bodyBlockTop"></div>
    <header [innerHTML]="chapterService.chapter2.header"></header>

    <div
      class="hidden-paragraph"
      *ngFor="
        let paragraph of chapterService.chapter2.paragraphs;
        trackBy: trackById
      "
      id="{{paragraph.id}}"
    >
      <span
        class="verse"
        [ngClass]="{
          'highlight-verse': verse.highlight,
          'highlight-context': !verse.highlight && verse.context
        }"
        id="{{verse.id}}"
        *ngFor="
          let verse of paragraph.verses;
          let i = index;
          trackBy: trackById
        "
        #verses
      >
        <ng-container *ngFor="let w of verse.wTags2">
          <w
            nT="{{w[2]}}"
            class="{{ getWColor(w)}}"
            (click)="wTagClick(w, verse)"
            [ngClass]="{ wRef: w[8] }"
            #wTags
          >
            <n>{{ w[1] }}</n>
          </w>
          <br
            *ngIf="w[0].includes('line-end') && saveState.data.poetryVisible"
          />
        </ng-container>
      </span>
    </div>
    <div
      *ngIf="chapterService.chapter2.bb"
      [innerHtml]="chapterService.chapter2.bodyBlock"
    ></div>
    <div id="body-block-whitespace" class="body-block-whitespace"></div>
  </div>

  <div class="right-content-pane">
    <div class="body-block-nav-flex">
      <button
        class="body-block-nav"
        id="btnNextChapter"
        (click)="navService.btnNextPagePress(chapterService.chapter2.pageUrl)"
      >
        <!-- Secondary Notes -->
        <fa-icon [icon]="faChevronRight" size="2x"></fa-icon>
      </button>
    </div>
  </div>
</div>
