@import '../../css.penguin/view_vars';
$font-stack: serif;

//This is for when the poetry is not being shown
body {
  font-family: $font-stack;
}

w.verse-select-0,
w.verse-select-0+w {
  border-bottom: 1px solid grey;
}

// w.verse-select-0+w {
//   border-bottom: 1px solid grey;
// }

w.verse-select-1,
w.verse-select-1+w {
  border-bottom: 3px solid #f68d2e;
}

w.verse-select-2,
w.verse-select-2+w {
  border-bottom: 3px solid #2ca1a5;
}

.content-pane {
  @media only screen and (max-width: 1079.98px) {
    grid-template-columns: 0 10vw 80vw 10vw;
  }

  @media only screen and (min-width: 1080px) {
    grid-template-columns: 0 $fr_5 $fr11 $fr_5;
  }

  .body-block {
    span.part {
      margin-left: 6pt;
    }

    span.answer {
      text-indent: 1em;
    }
  }

  #bodyBlock.show-poetry div.hidden-paragraph {
    span.line {
      padding-right: 6pt;
    }

    span.break {
      margin-bottom: 6pt;
    }
  }

  //This is styling for when poetry is being shown
  .body-block.show-poetry {
    span.line {
      background: inherit;
      display: block;
    }

    & .break {
      display: block;
      margin-bottom: 6pt;
    }
  }

  #bodyBlock {
    span.verse-number {
      vertical-align: super;
      font-size: 8pt;
    }
  }

  #bodyBlock.hidden-paragraph {
    span {

      &.part,
      &.question,
      &.answer {
        font-family: $font-stack;
        display: block;
      }

      &.verse {
        font-family: $font-stack;
        text-align: left;
        // margin: 0;
        // margin-bottom: 6pt;
        display: block;
        // padding-left: 5px;
        padding: 0 0 6pt 5px;

        span.verse-number {
          vertical-align: unset;
          font-size: inherit;
        }

        div.hidden-paragraph & {
          display: inline; // span.verse-number {
          //   vertical-align: super;
          //   font-size: 8pt;
          // }
        }
      }
    }
  }

  .notes-hide-original {
    sup.marker {
      display: none;
    }
  }

  .notes-show-original {
    span.study-note-ref {
      color: #007fa4;
    }

    sup.marker {
      font-style: italic;
      font-size: 8pt;
      display: initial;
      /* when original notes showing, display:none */
    }
  }

  .body-block-nav-flex {
    display: flex;
    justify-content: center;
  }

  .body-block-nav {
    position: fixed;
    top: 50%;
    background: inherit;
    color: #c4bebe;
  }

  span.small-caps {
    font-variant: small-caps;
  }

  span.uppercase {
    text-transform: uppercase;
  }

  span.verse-number {
    color: DimGray;
    font-weight: bold;
  }

  span.clarity-word {
    font-style: italic;
  }

  span.key-letter {
    display: none;
  }

  span.key-word {
    font-style: italic;
  }

  sup.marker {
    font-style: italic;
    font-size: 8pt;
  }

  div.paragraph {
    margin-bottom: 6pt;
  }

  p.subtitle,
  p.title-number {
    text-align: center;
  }

  p.title-number {
    font-weight: bold;
  }

  p.study-summary1,
  p.study-intro {
    font-style: italic;
  }

  h2#title1 {
    text-align: center;
    font-size: 12pt;
  }

  p.signature {
    font-variant: small-caps;
  }

  .show-paragraph div.hidden-paragraph {
    margin-bottom: 6pt;
  }

  #highlight-holder {
    visibility: hidden;
  }

  //   @for $x from 1 to 300 {
  //     #highlight-holder.p#{
  //  $x
  //   }

  //   ~#bodyBlock #p#{
  //  $x
  // }

  //   {
  //   border-left: 3px solid #f68d2e;
  // }
  // }
}
