@import '../../css.penguin/view_vars';

$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
//This is for when the poetry is not being shown
body {
  font-family: $font-stack;
}

.content-pane {
  grid-template-columns: $fr_5 $fr11 $fr_5;
  .body-block {
    span.part {
      margin-left: 6pt;
    }

    span.answer {
      text-indent: 1em;
    }
  }

  #bodyBlock.hidden-paragraph div.hidden-paragraph {
    span.line {
      padding-right: 6pt;
    }

    span.break {
      margin-bottom: 6pt;
    }
  }
  //This is styling for when poetry is being shown
  .body-block.show-poetry {
    span.line {
      display: block;
    }

    & .break {
      display: block;
      margin-bottom: 6pt;
    }
  }

  #bodyBlock.hidden-paragraph {
    span {
      &.part,
      &.question,
      &.answer {
        font-family: $font-stack;
        display: block;
      }

      &.verse {
        font-family: $font-stack;
        text-align: left;
        margin: 0;
        margin-bottom: 6pt;
        display: block;

        div.hidden-paragraph & {
          display: inline;

          span.verse-number {
            vertical-align: super;
            font-size: 8pt;
          }
        }
      }
    }
  }

  span.deletion {
    font-style: italic;
  }

  span.deletion::before {
    content: '[';
    font-style: normal;
  }

  span.deletion::after {
    content: ']';
    font-style: normal;
  }

  span.insertion {
    font-weight: bold;
  }

  span.id-label {
    font-style: italic;
  }
  span.small-caps {
    font-variant: small-caps;
  }

  span.uppercase {
    text-transform: uppercase;
  }

  span.verse-number {
    color: DimGray;
    font-weight: bold;
  }

  span.clarity-word {
    font-style: italic;
  }

  span.key-letter {
    display: none;
  }

  span.key-word {
    font-style: italic;
  }

  sup.marker {
    font-style: italic;
    font-size: 8pt;
  }
  div.paragraph {
    margin-bottom: 6pt;
  }
}
