<div
  id="study-notes-parent"
  [ngClass]="{
    'hide-l hide-m': !saveState.data.rightPanePin,
    'show-s': navServices.rightPaneToggle,
    'hide-s': !navServices.rightPaneToggle,
    'notesPopover-on':
      !saveState.data.rightPanePin && this.saveState.data.notesPopover,
    'QUO-on': this.saveState.data.refQUO,
    'PHR-on': this.saveState.data.refPHR,
    'OR-on': this.saveState.data.refOR,
    'IE-on': this.saveState.data.refIE,
    'HEB-on': this.saveState.data.refHEB,
    'GR-on': this.saveState.data.refGR,
    'KJV-on': this.saveState.data.refKJV,
    'HST-on': this.saveState.data.refHST,
    'CR-on': this.saveState.data.refCR,
    'ALT-on': this.saveState.data.refALT,
    'HMY-on': this.saveState.data.refHMY,
    'TG-on': this.saveState.data.refTG,
    'GS-on': this.saveState.data.refGS
  }"
  class="study-notes-parent "
>
  <div>
    <div id="footerTop"></div>
    <footer id="studyNotes" class="study-notes half-notes">
      <!-- <div class="half-notes-margin"></div> -->
      <note
        [ngClass]="{
          'secondary-override-off': !note.override
        }"
        *ngFor="let note of dataService.chapter2.notes; trackBy: trackById"
        id="{{ note.id }}"
        class="{{ note.classList }}"
      >
        <p class="note-title">{{ note.noteTitle }}</p>
        <p class="note-short-title">{{ note.noteShortTitle }}</p>
        <ng-container *ngFor="let secondaryNote of note.secondaryNotes">
          <div
            [ngClass]="{
              'tier-2-note-hide': !note.visible && note.override,
              'tier-2-note-show': note.visible && note.override,
              'note-disabled': secondaryNote.disabled
            }"
            id="{{ secondaryNote.id }}"
            class="{{ secondaryNote.cn }} secondary-note"
            *ngIf="showNote(secondaryNote)"
            (click)="editNoteClick(note, secondaryNote, $event)"
            #notes
          >
            <ng-container *ngFor="let sn of secondaryNote.seNote">
              <ng-container *ngIf="showSecondaryNote(note, sn)">
                <p
                  *ngIf="sn[1].trim().includes('note-phrase'); else noteref"
                  (click)="this.notePhraseClick(secondaryNote)"
                  class="{{ sn[1] }}"
                  [id]="sn[0]"
                >
                  <span
                    *ngIf="!secondaryNote.disabled && dataService.editState"
                    class="edit-buttons"
                  >
                    <button (click)="setNotePhraseText(secondaryNote, sn)">
                      Set Text
                    </button>
                    <button (click)="disableEditMode()">
                      Cancel
                    </button>
                  </span>
                  <span
                    class="note-superscript"
                    *ngIf="saveState.data.verseSuperScripts"
                    >{{ sn[3] }}
                  </span>
                  <span
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(sn[2])"
                  ></span>
                </p>
                <ng-template #noteref>
                  <p class="{{ sn[1] }}" [id]="sn[0]">
                    <span
                      [innerHTML]="sanitizer.bypassSecurityTrustHtml(sn[2])"
                    ></span>
                  </p>
                </ng-template>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <!-- <button
          *ngIf="note.btn"
          class="note-button note-button-buttons all-buttons"
          [ngClass]="{
            ' note-button-toggled-on':
              (!note.override && saveState.data.secondaryNotesVisible) ||
              (note.override && note.visible)
          }"
          id="note-button-{{ note.id }}"
          (click)="noteButtonClick(note)"
        >
          +
        </button> -->
      </note>

      <div id="study-notes-whitespace" class="study-notes-whitespace"></div>
    </footer>
  </div>
</div>
