<div
  class="grid main row-05"
  [ngClass]="{ 'note-underline': this.saveState.data.verseSelect }"
>
  <div class="header"><app-header></app-header></div>
  <div id="gridBody" class="grid body">
    <app-files class="left-pane"></app-files>
    <div><router-outlet></router-outlet></div>
    <!--
      <app-bodyblock id="appBodyBlock" class="content-pane grid "></app-bodyblock>
    -->
    <app-notes class="right-pane "></app-notes>
    <div
      [ngClass]="{
        none: !navService.rightPaneToggle,
        'overlay-toggle': navService.rightPaneToggle
      }"
      (click)="navService.btnRightPanePress()"
    ></div>
    <div
      [ngClass]="{
        none: !navService.leftPaneToggle,
        'overlay-toggle': navService.leftPaneToggle
      }"
      (click)="navService.btnLeftPanePress()"
    ></div>
  </div>
</div>

<!--
  <app-search-bar *ngIf="electronService.isElectron()" style="position:absolute;"></app-search-bar>
-->
