<!-- <div
  class="grid main row-05"
  [ngClass]="{
    'note-underline': this.saveState.data.verseSelect,
    'note-superscript': this.saveState.data.verseSuperScripts
  }"
>
  <div class="header"><app-header></app-header></div>
  <div id="gridBody" class="grid body">
    

    <div
      [ngClass]="{
        none: !navService.leftPaneToggle,
        'overlay-toggle': navService.leftPaneToggle
      }"
      (click)="navService.btnLeftPanePress()"
    ></div>
  </div>
</div> -->
<header><app-header></app-header></header>
<main>
  <div class="container">
    <div class="l3 m3 s0"></div>
    <div class=" s12 m9 l9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer></footer>
