$font-stack: PalatinoldsLat-Roman, serif;

.right-pane {
  z-index: 100;

  note {
    > div > div.original-note-marker {
      display: none;
    }

    // margin-left: 1em;
    display: grid;
    grid-template-columns: 9fr 1fr;

    p.note-title {
      grid-area: auto / 1;
    }

    p.note-short-title {
      grid-area: auto / 1;
    }

    div.note {
      grid-area: auto / 1;
    }

    > div {
      grid-area: auto / 1;
    }

    button.note-button {
      grid-area: 1 / 2;
      height: 24px;
      width: 24px;
      margin-top: 6px;
      border-style: outset;
    }
  }

  .secondary-notes,
  .original-note,
  .note-short-title,
  div.note,
  div.note-tier-2 {
    margin-left: 1em;
    margin-right: 20px;
  }

  span.reference-label-quotation::before {
    content: 'QUO';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-or::before {
    content: 'OR';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-ie::before {
    content: 'IE';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-phrasing::before {
    content: 'PHR';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-hebrew::before {
    content: 'HEB';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-greek::before {
    content: 'GR';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-archaic::before {
    content: 'KJV';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-historical::before {
    content: 'HST';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-cr::before {
    content: 'CR';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-alt::before {
    content: 'ALT';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-harmony::before {
    content: 'HMY';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-tg::before {
    content: 'TG';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.reference-label-gs::before {
    content: 'GS';
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }

  span.deletion {
    font-style: italic;
  }

  span.deletion::before {
    content: '[';
    font-style: normal;
  }

  span.deletion::after {
    content: ']';
    font-style: normal;
  }

  span.insertion {
    font-weight: bold;
  }

  footer {
    position: fixed;
    background-color: Gainsboro;
    padding-top: 6pt;
    padding-bottom: 6pt;
  }

  w.marker {
    display: none;
  }

  .original-note {
    background-color: oldlace;

    .original-note-marker {
      grid-column-start: 1;
      margin-right: 5px;
    }

    ul {
      padding-left: 0px;
      margin-left: 0.25in;
    }

    ul > li {
      // display: grid;

      grid-template-columns: auto 9fr;
      grid-template-rows: auto;

      div,
      p {
        display: inline;
      }

      .original-note-note {
        grid-column-start: 2; // display: contents;
      }

      margin-bottom: 6pt;
      // margin-top: 3pt;
    }
  }

  .tier-2-note {
    background-color: FloralWhite;
  }

  .tier-2-lines {
    margin-top: 7px;
    background-color: FloralWhite;
  }

  .note-reference-new,
  .note-reference-new-2,
  .note-reference-eng,
  .note-reference-eng-2,
  .note-reference-tc,
  .note-reference-tc-2,
  .note-phrase {
    margin-bottom: 9pt;
  }

  footer {
    background-color: Gainsboro;
    padding-top: 6pt;
    padding-bottom: 6pt;

    &.study-notes {
      font-size: smaller;
    }
  }

  div.note-label {
    padding-right: 4pt;
    display: inline;
    font-size: smaller;
  }

  .study-notes-parent {
    .note-short-title:empty {
      display: none;
    }
    .note-phrase,
    .original-note,
    .note-reference-eng,
    .note-reference-eng-2,
    .note-reference-new,
    .note-reference-new-2,
    .note-reference-tc-2,
    .note-reference-tc,
    &.notes-show-eng.notes-show-tier .tier-2-note-hide .note-phrase-eng-2,
    &.notes-show-eng.notes-show-tier .tier-2-note-hide .note-reference-eng-2,
    &.notes-show-new.notes-show-tier .tier-2-note-hide .note-phrase-new-2,
    &.notes-show-new.notes-show-tier .tier-2-note-hide .note-reference-new-2,
    &.notes-show-tc.notes-show-tier .tier-2-note-hide .note-phrase-tc-2,
    &.notes-show-tc.notes-show-tier .tier-2-note-hide .note-reference-tc-2 {
      display: none;
    }

    //     notes-show-tier
    // notes-show-new
    // notes-show-tc
    // notes-show-eng

    &.notes-show-eng .note-reference-eng,
    &.notes-show-original .original-note,
    &.notes-show-tc .note-phrase-tc,
    &.notes-show-eng .note-phrase-eng,
    &.notes-show-new .note-phrase-new,
    &.notes-show-new .note-reference-new,
    &.notes-show-eng .tier-2-note-show .note-phrase-eng-2,
    &.notes-show-eng .tier-2-note-show .note-reference-eng-2,
    &.notes-show-new .tier-2-note-show .note-phrase-new-2,
    &.notes-show-new .tier-2-note-show .note-reference-new-2,
    &.notes-show-tc .tier-2-note-show .note-phrase-tc-2,
    &.notes-show-tc .tier-2-note-show .note-reference-tc-2,
    &.notes-show-eng .tier-2-note-hide.secondary-note .note-phrase-eng,
    &.notes-show-eng .tier-2-note-hide.secondary-note .note-reference-eng,
    &.notes-show-new .tier-2-note-hide.secondary-note .note-phrase-new,
    &.notes-show-new .tier-2-note-hide.secondary-note .note-reference-new,
    &.notes-show-tc .tier-2-note-hide.secondary-note .note-phrase-tc,
    &.notes-show-tc .tier-2-note-hide.secondary-note .note-reference-tc,
    &.notes-show-eng.notes-show-tier .note-phrase-eng-2,
    &.notes-show-eng.notes-show-tier .note-reference-eng-2,
    &.notes-show-new.notes-show-tier .note-phrase-new-2,
    &.notes-show-new.notes-show-tier .note-reference-new-2,
    &.notes-show-tc.notes-show-tier .note-phrase-tc-2,
    &.notes-show-tc.notes-show-tier .note-reference-tc-2,
    &.notes-show-eng.notes-hide-tier .note-phrase-eng,
    &.notes-show-eng.notes-hide-tier .note-reference-eng,
    &.notes-show-new.notes-hide-tier .note-phrase-new,
    &.notes-show-new.notes-hide-tier .note-reference-new,
    &.notes-show-tc.notes-hide-tier .note-phrase-tc,
    &.notes-show-tc.notes-hide-tier .note-reference-tc,
    &.notes-show-tc .note-reference-tc {
      display: block;
    }

    // .note-phrase {
    //   display: none;
    // }

    // &.notes-hide-tier .note-phrase {
    //   display: none;
    // }

    // &.notes-hide-original {
    //   .original-note {
    //     display: none;
    //   }
    // }

    // .note-button {
    //   display: none;
    // }

    // &.notes-show-eng note.button-eng-2 .note-button,
    // &.notes-show-tc note.button-tc-2 .note-button,
    // &.notes-show-new note.button-new-2 .note-button {
    //   display: block;
    // }

    // &.notes-hide-tc .note-reference-tc,
    // &.notes-hide-eng .note-reference-eng,
    // &.notes-hide-new .note-reference-new,
    // &.notes-hide-new .note-reference-new-2,
    // &.notes-hide-tc .note-reference-tc-2,
    // &.notes-hide-eng .note-reference-eng-2,
    // &.notes-hide-tier .note-reference-new-2,
    // &.notes-hide-tier .note-reference-tc-2,
    // &.notes-hide-tier .note-reference-eng-2 {
    //   display: none;
    // }

    // &.notes-show-tier.secondary-override-off
    //   note.note-references.tier-2-note-hide
    //   .note-reference-tc-2,
    // &.notes-show-tier.secondary-override-off
    //   note.note-references.tier-2-note-hide
    //   .note-reference-eng-2,
    // &.notes-show-tier.secondary-override-off
    //   note.note-references.tier-2-note-hide
    //   .note-reference-new-2,
    // &.notes-show-tier.secondary-override-off
    //   note.note-references.tier-2-note-hide
    //   .note-reference-new-3,
    // &.notes-show-tier.secondary-override-off
    //   note.note-references.tier-2-note-hide
    //   .note-phrase.note-reference-tc-2 {
    //   display: none;
    // }
    // .note-phrase,
    // &.notes-show-new .note-phrase-new,
    // &.notes-show-tier.secondary-override-off.notes-show-new
    //   note.secondary-override-off
    //   .note-phrase-new-2,
    // &.notes-hide-tier.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-new-2,
    // &.notes-show-tier.secondary-override-off.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-new-2 {
    //   display: inline-block;
    // }

    // &.notes-show-tc .note-phrase-tc,
    // &.notes-show-eng .note-phr-eng,
    // &.notes-show-eng .note-phrase-eng,
    // &.notes-show-tier.secondary-override-off.notes-show-new
    //   note.secondary-override-off
    //   .note-reference-new-2,
    // &.notes-show-tier.secondary-override-off.notes-show-tc
    //   note.secondary-override-off.note-reference-tc-2,
    // &.notes-show-tier.secondary-override-off.notes-show-eng
    //   note.secondary-override-off
    //   .note-reference-eng-2,
    // &.notes-show-tier.secondary-override-off.notes-show-eng
    //   note.secondary-override-off
    //   .note-phrase-eng-2,
    // &.notes-show-tier.secondary-override-off.notes-show-tc
    //   note.secondary-override-off
    //   .note-phrase-tc-2,
    // &.notes-hide-tier.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-reference-new-2,
    // &.notes-hide-tier.notes-show-eng
    //   note.secondary-override-on.tier-2-note-show
    //   .note-reference-eng-2,
    // &.notes-hide-tier.notes-show-tc
    //   note.secondary-override-on.tier-2-note-show
    //   .note-reference-tc-2,
    // &.notes-hide-tier.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-reference-new-3,
    // &.notes-hide-tier.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-new,
    // &.notes-hide-tier.notes-show-eng
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-eng,
    // &.notes-hide-tier.notes-show-eng
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-eng-2,
    // &.notes-hide-tier.notes-show-tc
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-tc,
    // &.notes-hide-tier.notes-show-tc
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-tc-2,
    // &.notes-show-tier.secondary-override-off.notes-show-eng
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-eng-2,
    // &.notes-show-tier.secondary-override-off.notes-show-new
    //   note.secondary-override-on.tier-2-note-show
    //   .note-reference-new-3,
    // &.notes-show-tier.secondary-override-off.notes-show-tc
    //   note.secondary-override-on.tier-2-note-show
    //   .note-phrase-tc-2,
    // &.notes-show-tc .note-reference-tc,
    // &.notes-show-eng .note-reference-eng,
    // &.notes-show-new .note-reference-new {
    //   display: block;
    // }

    note.tier-2-note-show {
      display: grid;
    }
  }

  .button-toggled-off {
    color: grey;
  }

  .note-button-buttons,
  .tier-2-note-buttons,
  .tier-2-lines-buttons,
  .original-note-buttons {
    background-color: rgb(216, 215, 215);
    border-color: rgb(216, 215, 215);
    margin-right: 20px;
    font-size: 9pt;

    &.note-button-toggled-on {
      background-color: rgb(161, 161, 161);
      border-color: rgb(161, 161, 161);
      margin-right: 20px;
    }
  }

  span.id-label {
    font-style: italic;
  }
}

#notesSettings {
  // right: 15vw;
  position: absolute;
  top: 48px;
  right: 10vw;
  height: 48px * 5;
  width: 200px;
  background-color: rgba(255, 252, 247, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
  display: grid;
  grid-template-rows: repeat(100%, 48px);

  button,
  div {
    padding-top: 1px;
    font-size: 18px;
    font-weight: bolder;
  }
}
