<div id="study-notes-parent" [ngClass]="{
    'notes-show-tier': saveState.data.secondaryNotesVisible,
    'notes-show-new': saveState.data.newNotesVisible,
    'hide-l hide-m': !saveState.data.rightPanePin, 
    'notes-show-tc': saveState.data.translatorNotesVisible,
    'notes-show-eng': saveState.data.englishNotesVisible,
    'notes-hide-tier': !saveState.data.secondaryNotesVisible, 
    'notes-hide-tc': !saveState.data.translatorNotesVisible,
'notes-hide-eng': !saveState.data.englishNotesVisible,
'notes-hide-new': !saveState.data.newNotesVisible,
'notes-hide-original': !saveState.data.originalNotesVisible,
'notes-show-original': saveState.data.originalNotesVisible,
'show-s': navServices.rightPaneToggle,
'hide-s': !navServices.rightPaneToggle }"
  class="study-notes-parent ">
  <div>

    <!-- <a id="btnNewNotes" [ngClass]="{'nav-btn-on': saveState.data.newNotesVisible}" (click)="navServices.btnNewNotesPress();">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
      N
    </a>
    <a id="btnEnglishNotes" [ngClass]="{'nav-btn-on': saveState.data.englishNotesVisible}" (click)="navServices.btnEnglishNotesPress();">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
      E
    </a>
    <a id="btnTranslatorNotes" [ngClass]="{'nav-btn-on': saveState.data.translatorNotesVisible}" (click)="navServices.btnTranslatorNotesPress();">
      <fa-icon [icon]="faGlobe" size="lg"></fa-icon>
      T

    </a>
    <a id="btnOriginalNotes" [ngClass]="{'nav-btn-on': saveState.data.originalNotesVisible}" (click)="navServices.btnOriginalNotesPress();">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
      O
    </a>
    <a id="btnSecondaryNotes" [ngClass]="{'nav-btn-on': saveState.data.secondaryNotesVisible}" (click)="navServices.btnSecondaryNotesPress();">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
    </a> -->

    <div id="footerTop"></div>
    <footer id="studyNotes" class="study-notes">
      <!-- <span id="studyNotesTop"></span> -->
      <note [ngClass]="{
      'secondary-override-off': !note.override}" *ngFor="let note of chapterService.chapter2.notes; trackBy: trackById"
        id="{{note.id}}" class="{{note.className}}" #notes>
        <p class="note-title">{{note.noteTitle}}</p>
        <p class="note-short-title">{{note.noteShortTitle}}</p>
        <div *ngFor="let secondaryNote of note.secondaryNotes" [ngClass]="{'tier-2-note-hide': !note.visible && note.override, 
        'tier-2-note-show': note.visible && note.override}"
          [innerHTML]="secondaryNote.innerHtml" id="{{secondaryNote.id}}" class="{{secondaryNote.className}} secondary-note"
          id="{{secondaryNote.id}}"></div>

        <button *ngIf="note.btn" class='note-button note-button-buttons all-buttons' [ngClass]="{' note-button-toggled-on': (!note.override && saveState.data.secondaryNotesVisible) || (note.override && note.visible)} "
          id="note-button-{{note.id}}" (click)="noteButtonClick(note)">
          <!-- (click)="note.secondaryButtonClick()"> -->
          +</button>

      </note>

      <div id='study-notes-whitespace' class='study-notes-whitespace'></div>
    </footer>
  </div>
</div>
