@import '../styles/notes.scss';
$font-stack: PalatinoldsLat-Roman, serif;

@mixin span-reference($selector: '', $content: '') {
  span.reference-label-#{$selector}::before {
    content: $content;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
  }
  .#{$content}-on {
    .note-phrase.reference-label-#{$selector} {
      display: block !important;
    }
  }
}
.right-pane {
  z-index: 100;

  note {
    button.note-button {
      height: 24px;
      width: 24px;
      margin-top: 6px;
      border-style: outset;
    }
  }
  .note-phrase[class*='reference-label'] {
    display: none;
  }

  .secondary-notes,
  .original-note,
  .note-short-title,
  .tc-note,
  .eng-note,
  .new-note,
  div.note,
  div.note-tier-2 {
    margin-right: 20px;
  }

  @include span-reference('quotation', 'QUO');
  @include span-reference('phrasing', 'PHR');
  @include span-reference('or', 'OR');
  @include span-reference('ie', 'IE');
  @include span-reference('hebrew', 'HEB');
  @include span-reference('greek', 'GR');
  @include span-reference('archaic', 'KJV');
  @include span-reference('historical', 'HST');
  @include span-reference('cr', 'CR');
  @include span-reference('alt', 'ALT');
  @include span-reference('harmony', 'HMY');
  @include span-reference('tg', 'TG');
  @include span-reference('gs', 'GS');

  span {
    &.deletion {
      font-style: italic;
    }

    &.deletion::before {
      content: '[';
      font-style: normal;
    }

    &.deletion::after {
      content: ']';
      font-style: normal;
    }

    &.insertion {
      font-weight: bold;
    }
  }

  footer {
    background-color: Gainsboro;
    padding-top: 6pt;
    padding-bottom: 6pt;
  }

  w.marker {
    display: none;
  }

  .original-note {
    background-color: oldlace;

    .original-note-marker {
      grid-column-start: 1;
      margin-right: 5px;
    }

    ul {
      padding-left: 0px;
      margin-left: 0.25in;
    }

    ul > li {
      grid-template-columns: auto 9fr;
      grid-template-rows: auto;

      div,
      p {
        display: inline;
      }

      .original-note-note {
        grid-column-start: 2;
      }

      margin-bottom: 6pt;
    }
  }

  .tier-2-note {
    background-color: FloralWhite;
  }

  .tier-2-lines {
    margin-top: 7px;
    background-color: FloralWhite;
  }

  // .note-reference-new,
  // .note-reference-new-2,
  // .note-reference-eng,
  // .note-reference-eng-2,
  // .note-reference-tc,
  // .note-reference-tc-2,
  // .note-phrase,
  // [class*='note-phrase'] {
  //   margin-bottom: 9pt;
  // }

  footer {
    background-color: Gainsboro;
    padding-top: 6pt;
    padding-bottom: 6pt;

    &.study-notes {
      font-size: smaller;
    }
  }

  div.note-label {
    padding-right: 4pt;
    display: inline;
    font-size: smaller;
  }

  .study-notes-parent {
    .note-short-title:empty {
      display: none;
    }
  }

  .button-toggled-off {
    color: grey;
  }

  span.id-label {
    font-style: italic;
  }
}
