<div class="left-pane-container left-pane-ignore" style="position: fixed" [ngClass]="{'hide-l hide-m': !saveState.data.leftPanePin, 
'show-s': navService.leftPaneToggle, 'hide-s': !navService.leftPaneToggle }">
  <nav id="leftPaneNav">
    <!-- <li class="left-nav-link" *ngFor="let link of links"> -->
    <div class="grid">
      <ul>
        <li>
          <input id="addressBar" type="text" (keypress)="addressBarKeyPress($event)" />
        </li>
        <li class="left-nav-item left-nav-back" (click)="setRoot()" [class.nav-children-visible]="saveState.data.foldersVisible">Scriptures</li>

      </ul>
    </div>
    <div class="nav-parent navigation" *ngIf="!fileManager.showBooks" [ngClass]="{'nav-hide': !saveState.data.foldersVisible}">


      <!-- <a class='left-pane-ignore' *ngFor="let folder of fileManager.folders" (click)="setTestament(folder)">{{folder.path}}</a> -->
      <ul class='left-pane-ignore grid'>
        <li *ngFor="let folder of fileManager.nav" (click)="fileManager.testamentSelected = folder;  fileManager.showBooks = true;">
          <div class="left-nav-item"> {{folder.text}}</div>
          <div class="left-nav-plus" style="text-align: right;">+</div>
        </li>
      </ul>
      <!-- <a>
        
      </a> -->
    </div>

    <div class="navigation" *ngIf="fileManager.showBooks">
      <div *ngFor="let nav of fileManager.testamentSelected.books" class="grid">
        <div class="chapter-header" (click)="fileManager.testamentSelected.resetVisibility(nav.bookName); nav.showChildren = !nav.showChildren;">

          <a class='left-pane-ignore chapter-header left-nav-item' id="{{nav.bookName}}">{{nav.bookName}}</a>
          <div *ngIf="nav.showChildren; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <div class="left-nav-plus" style="text-align: right;">-</div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="left-nav-plus" style="text-align: right;">+</div>
          </ng-template>

        </div>

        <div *ngIf="nav.showChildren" class="grid">
          <a *ngFor="let chapter of nav.chapters" class='left-pane-ignore left-nav-item' href="{{chapter.link}}">{{chapter.name}}</a>

        </div>
      </div>
      <!-- <a class='left-pane-ignore' *ngFor="let file of folder?.files">{{file.sourceUrl}}</a> -->
    </div>

  </nav>
</div>
