/* You can add global styles to this file, and also import other style files */
@import 'css.penguin/view_vars';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1079.98px) {
  .body {
    grid-template-columns: 0fr $vw12 0fr;
    .left-pane,
    .right-pane {
      display: none;
    }
  }
}
@media only screen and (orientation: landscape) and (min-width: 1080px) and (max-width: 1219.98px) {
  .body {
    grid-template-columns: 0fr $vw9 $vw3;
    .left-pane {
      display: none;
    }
  }
}
// @media only screen and (orientation: landscape) and (min-width: 1280px) and (max-width: 1919.98px) {
//   .body {
//     grid-template-columns: $vw2 $vw8 $vw2;
//   }
// }
@media only screen and (orientation: landscape) and (min-width: 1220px) {
  .body {
    grid-template-columns: $vw2 $vw8 $vw2;
  }
}
