<div>
  <div
    id="notesSettings"
    [ngClass]="{ none: !navServices.notesSettings }"
    class="notes-settings"
  >
    <button (click)="editPage()">Edit</button>
    <button
      id="btnNewNotes"
      [ngClass]="{ 'nav-btn-on': saveState.data.newNotesVisible }"
      (click)="btnNewNotesPress()"
      class="notes-settings"
    >
      New Notes
    </button>
    <button
      id="btnEnglishNotes"
      [ngClass]="{ 'nav-btn-on': saveState.data.englishNotesVisible }"
      (click)="btnEnglishNotesPress()"
      class="notes-settings"
    >
      English Notes
    </button>
    <button
      id="btnTranslatorNotes"
      [ngClass]="{ 'nav-btn-on': saveState.data.translatorNotesVisible }"
      (click)="btnTranslatorNotesPress()"
      class="notes-settings"
    >
      Translator Notes
    </button>
    <!--
      <button id="btnOriginalNotes" [ngClass]="{'nav-btn-on': saveState.data.originalNotesVisible}" (click)="btnOriginalNotesPress();"
        class="notes-settings">
        Original Notes
      </button>
    -->
    <button
      id="btnSecondaryNotes"
      [ngClass]="{ 'nav-btn-on': saveState.data.secondaryNotesVisible }"
      (click)="btnSecondaryNotesPress()"
      class="notes-settings"
    >
      Secondary Notes
    </button>
    <button
      id="verseSelect"
      (click)="toggleVerseSelect()"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.verseSelect }"
    >
      Note Underlining
    </button>
    <button
      id="verseSelect"
      (click)="toggleVerseSuperScripts()"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.verseSuperScripts }"
    >
      Toggle Superscripts
    </button>
    <button id="versionNumber">Version {{ this.versionNumber }}</button>
    <button id="settings" (click)="settings()">Settings</button>

    <button
      (click)="subNotesClick('QUO')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refQUO }"
    >
      QUO
    </button>
    <button
      (click)="subNotesClick('PHR')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refPHR }"
    >
      PHR
    </button>
    <button
      (click)="subNotesClick('OR')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refOR }"
    >
      OR
    </button>
    <button
      (click)="subNotesClick('IE')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refIE }"
    >
      IE
    </button>
    <button
      (click)="subNotesClick('HEB')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refHEB }"
    >
      HEB
    </button>
    <button
      (click)="subNotesClick('GR')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refGR }"
    >
      GR
    </button>
    <button
      (click)="subNotesClick('KJV')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refKJV }"
    >
      KJV
    </button>
    <button
      (click)="subNotesClick('HST')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refHST }"
    >
      HST
    </button>
    <button
      (click)="subNotesClick('CR')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refCR }"
    >
      CR
    </button>
    <button
      (click)="subNotesClick('ALT')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refALT }"
    >
      ALT
    </button>
    <button
      (click)="subNotesClick('HMY')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refHMY }"
    >
      HMY
    </button>
    <button
      (click)="subNotesClick('TG')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refTG }"
    >
      TG
    </button>
    <button
      (click)="subNotesClick('GS')"
      [ngClass]="{ 'nav-btn-on': this.saveState.data.refGS }"
    >
      GS
    </button>
  </div>
</div>
