<!-- class="fadeIn animated fastest" -->
<!-- [ngStyle]="{ top: notesFlyout.top, right: '0' }" -->
<div
  style="top: 70px; right: 0;"
  [ngClass]="{ none: !navServices.notesSettings }"
  class="animated fadeIn fastest"
  id="notesSettings"
>
  <div class="note-settings">
    <button
      id="btnNewNotes"
      [ngClass]="{
        'nav-btn-on  ': saveState.data.newNotesVisible
      }"
      (click)="btnNewNotesPress()"
      class="notes-settings"
    >
      New Notes
    </button>
    <button
      id="btnEnglishNotes"
      [ngClass]="{
        'nav-btn-on  ': saveState.data.englishNotesVisible
      }"
      (click)="btnEnglishNotesPress()"
      class="notes-settings"
    >
      English Notes
    </button>
    <button
      id="btnTranslatorNotes"
      [ngClass]="{
        'nav-btn-on  ': saveState.data.translatorNotesVisible
      }"
      (click)="btnTranslatorNotesPress()"
      class="notes-settings"
    >
      Translator Notes
    </button>

    <button
      id="btnSecondaryNotes"
      [ngClass]="{
        'nav-btn-on  ': saveState.data.secondaryNotesVisible
      }"
      (click)="btnSecondaryNotesPress()"
      class="notes-settings"
    >
      Secondary Notes
    </button>
    <button
      id="verseSelect"
      (click)="toggleVerseSelect()"
      [ngClass]="{
        'nav-btn-on  ': this.saveState.data.verseSelect
      }"
    >
      Note Underlining
    </button>
    <!-- <button
      id="verseSelect"
      (click)="toggleVerseSuperScripts()"
      [ngClass]="{
        'nav-btn-on  ': this.saveState.data.verseSuperScripts
      }"
    >
      Toggle Superscripts
    </button> -->
    <button id="versionNumber">Version {{ this.versionNumber }}</button>

    <button
      (click)="setCategory(category)"
      [ngClass]="{
        'nav-btn-on  ': category.visible
      }"
      *ngFor="let category of saveState.data.noteCategories"
    >
      {{ category.refLabelName }}
    </button>
  </div>
  <div class="note-settings ">
    <button id="settings" (click)="settings()">Settings</button>
    <button (click)="editPage()">Edit</button>
  </div>
</div>
