<!-- (click)="navigation.visible = navigation.visible ? !navigation.visible : true" -->
<ng-container *ngIf="!this.navigation.hide">
  <li
    style="height: 48px;"
    (click)="
      this.navigationService.navigationClick(this.navigation, this.navigations)
    "
    *ngIf="!navigation.url"
    class="nav-header"
  >
    <span class="navigation-title">{{ navigation.title }}</span>
    <span class="navigation-short-title">{{ navigation.shortTitle }}</span>
  </li>
  <li
    (click)="this.gotoChapter()"
    class="nav-link"
    *ngIf="navigation.url"
    [ngClass]="{ 'nav-focus': navigation.focus }"
  >
    <!-- <a href="#/{{ navigation.url }}"></a> --><span
      class="navigation-title"
      >{{ navigation.title }}</span
    >
    <span class="navigation-short-title">{{ navigation.shortTitle }}</span>
    <!-- <i _ngcontent-c5="" class="material-icons caret right"
      >keyboard_arrow_right</i
    > -->
  </li>
  <ng-container *ngIf="navigation.visible && navigation.navigation">
    <ng-container *ngFor="let n of navigation.navigation">
      <app-navigation
        class="nav-list"
        [navigation]="n"
        [navigations]="navigation.navigation"
        [ngClass]="{ none: n.hide }"
      ></app-navigation>
    </ng-container>
  </ng-container>
</ng-container>
