<!-- (click)="navigation.visible = navigation.visible ? !navigation.visible : true" -->
<ng-container *ngIf="!this.navigation.hide">
  <li
    style="height: 48px;"
    (click)="
      this.navigationService.navigationClick(this.navigation, this.navigations)
    "
    *ngIf="!navigation.url"
    class="nav-header"
  >
    {{ navigation.title }}
  </li>
  <li
    (click)="
      navigation.visible = navigation.visible ? !navigation.visible : true
    "
    *ngIf="navigation.url"
    class="nav-link"
  >
    <a href="#/{{ navigation.url }}">{{ navigation.title }}</a
    ><i _ngcontent-c5="" class="material-icons caret right"
      >keyboard_arrow_right</i
    >
  </li>
  <ng-container *ngIf="navigation.visible && navigation.navigation">
    <ng-container *ngFor="let n of navigation.navigation">
      <app-navigation
        class="nav-list"
        [navigation]="n"
        [navigations]="navigation.navigation"
        [ngClass]="{ none: n.hide }"
      ></app-navigation>
    </ng-container>
  </ng-container>
</ng-container>
