// _view_vars.scss

$vw12: 100vw;
$vh12: 100vh;
$totalRows: 12;
$totalColumns: 12;
$vw_5: $vw12 * (0.5/$totalColumns);
$vh_5: $vh12 * (0.5/$totalColumns);
$vw1: $vw12 * (1/$totalColumns);
$vh1: $vh12 * (1/$totalColumns);
$vw2: $vw12 * (2/$totalColumns);
$vh2: $vh12 * (2/$totalColumns);
$vw3: $vw12 * (3/$totalColumns);
$vh3: $vh12 * (3/$totalColumns);
$vh4: $vh12 * (4/$totalColumns);
$vw4: $vw12 * (4/$totalColumns);
$vw5: $vw12 * (5/$totalColumns);
$vh5: $vh12 * (5/$totalColumns);
$vh6: $vh12 * (6/$totalColumns);
$vw6: $vw12 * (6/$totalColumns);
$vw7: $vw12 * (7/$totalColumns);
$vh7: $vh12 * (7/$totalColumns);
$vh8: $vh12 * (8/$totalColumns);
$vw8: $vw12 * (8/$totalColumns);
$vw9: $vw12 * (9/$totalColumns);
$vh9: $vh12 * (9/$totalColumns);
$vw10: $vw12 * (10/$totalColumns);
$vh10: $vh12 * (10/$totalColumns);
$vw1_5: $vw12 * (1.5/$totalColumns);
$vh1_5: $vh12 * (1.5/$totalColumns);
$vw2_5: $vw12 * (2.5/$totalColumns);
$vh2_5: $vh12 * (2.5/$totalColumns);
$vw3_5: $vw12 * (3.5/$totalColumns);
$vh3_5: $vh12 * (3.5/$totalColumns);
$vh4_5: $vh12 * (4.5/$totalColumns);
$vw4_5: $vw12 * (4.5/$totalColumns);
$vw5_5: $vw12 * (5.5/$totalColumns);
$vh5_5: $vh12 * (5.5/$totalColumns);
$vh6_5: $vh12 * (6.5/$totalColumns);
$vw6_5: $vw12 * (6.5/$totalColumns);
$vw7_5: $vw12 * (7.5/$totalColumns);
$vh7_5: $vh12 * (7.5/$totalColumns);
$vh8_5: $vh12 * (8.5/$totalColumns);
$vw8_5: $vw12 * (8.5/$totalColumns);
$vw9_5: $vw12 * (9.5/$totalColumns);
$vh9_5: $vh12 * (9.5/$totalColumns);
$vw10_5: $vw12 * (10.5/$totalColumns);
$vh10_5: $vh12 * (10.5/$totalColumns);
$vw11: $vw12 * (11/$totalColumns);
$vh11: $vh12 * (11/$totalColumns);
$vw11_5: $vw12 * (11.5/$totalColumns);;
$vh11_5: $vh12 * (11.5/$totalColumns);;
