// _view_vars.scss

$vw05: 4.166666667fr;
$vw1: 8.333333333fr;
$vw2: 16.66666667fr;
$vw3: 25fr;
$vw4: 33.33333333fr;
$vw5: 41.66666667fr;
$vw6: 50fr;
$vw7: 58.33333333fr;
$vw8: 66.66666667fr;
$vw9: 75fr;
$vw10: 83.33333333fr;
$vw11: 91.66666667fr;
$vw12: 100fr;
$vh05: 4.166666667fr;
$vh1: 8.333333333fr;
$vh2: 16.66666667fr;
$vh3: 25fr;
$vh4: 33.33333333fr;
$vh5: 41.66666667fr;
$vh6: 50fr;
$vh7: 58.33333333fr;
$vh8: 66.66666667fr;
$vh9: 75fr;
$vh10: 83.33333333fr;
$vh11: 91.66666667fr;
$vw11_5: 95.83333333fr;
$vh11_5: 95.83333333fr;
$vh12: 100fr;
