<note
  id="{{ note._id }}"
  class="animated fastest"
  [ngClass]="{
    fadeOut:
      this.chapterService.chapterFadeOut ||
      (this.syncScrollingService.syncScrollingActivated &&
        this.syncScrollingService.syncScrollingAnimated),
    fadeIn:
      !this.chapterService.chapterFadeOut ||
      (!this.syncScrollingService.syncScrollingActivated &&
        this.syncScrollingService.syncScrollingAnimated)
  }"
>
  <div class="note-title">{{ note.noteTitle }}</div>
  <div class="note-short-title">{{ note.noteShortTitle }}</div>
  <ng-container *ngFor="let secondaryNote of note.secondaryNotes">
    <div
      class="secondary-note"
      [class]="filterClassList(secondaryNote.classList)"
      [ngClass]="{ 'verse-select-1': secondaryNote.clicked }"
      *ngIf="secondaryNote.visible"
      id="{{ secondaryNote._id }}"
    >
      <div class="note-phrase" (click)="this.notePhraseClick(secondaryNote)">
        {{ secondaryNote.notePhrase.text }}
      </div>
      <ng-container *ngFor="let noteRef of secondaryNote.noteRefs">
        <div
          class="note-ref"
          [class]="filterClassList(noteRef.classList)"
          *ngIf="noteRef.visible"
          [ngClass]="{
            'note-reference-eng': noteRef.type === 2,
            'note-reference-new': noteRef.type === 1,
            'note-reference-tc': noteRef.type === 3
          }"
        >
          <span [innerHTML]="md.render(noteRef.text)"></span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</note>
