<!-- (touchend)="this.selectText()" -->
<!-- (press)="selectText()" -->
<span
  class="verse"
  id="{{ verse.id }}"
  [ngClass]="{
    'highlight-verse': verse.highlight,
    'highlight-context': verse.context,
    'verse-verse': !verse.header
  }"
  (click)="this.resetCloneRange()"
>
  <ng-container *ngFor="let w of verse.wTags">
    <w
      [class]="filterClassList(w.classList)"
      *ngIf="w.refs && !w.href"
      (click)="wTagClick(w)"
      [ngClass]="{
        'verse-select-0': !w.selected && w.visibleRefs,
        'verse-select-1': w.selected && w.visibleRefCount === 1,
        'verse-select-2': w.selected && w.visibleRefCount > 1,
        wRef: w.visibleRefs && w.visibleRefCount > 1
      }"
      [attr.w-ids]="w.id.toString()"
      >{{ w.text }}</w
    ><w
      [class]="filterClassList(w.classList)"
      *ngIf="!w.refs && w.type === 'W'"
      [attr.w-ids]="w.id.toString()"
      >{{ w.text }}</w
    ><app-aw [w]="w" *ngIf="w.type === 'aW'"></app-aw
    ><ruby
      *ngIf="w.type === 'rW'"
      [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(w.text)"
      [attr.w-ids]="w.id.toString()"
    ></ruby>
  </ng-container>
</span>
