@import '../../../css.penguin/view_vars';
$font-stack: serif;

w {
  &.marker {
    font-style: italic;
    font-size: 8pt;
  }

  &.verse-number {
    color: DimGray;
    font-weight: bold;
    vertical-align: super;
    font-size: 8pt;
  }
  &.small-caps {
    font-variant: small-caps;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.clarity-word {
    font-style: italic;
  }

  &.key-letter {
    display: none;
  }

  &.key-word {
    font-style: italic;
  }
  &.poetry::before {
    content: '\A';
    white-space: pre;
  }
}

div.paragraph {
  margin-bottom: 6pt;
}

p.subtitle,
p.title-number {
  text-align: center;
}

p.title-number {
  font-weight: bold;
}

p.study-summary1,
p.study-intro {
  font-style: italic;
}

h2#title1 {
  text-align: center;
  font-size: 12pt;
}
.notes-hide-original {
  w.marker {
    display: none;
  }
}

.notes-show-original {
  w.study-note-ref {
    color: #007fa4;
  }

  w.marker {
    font-style: italic;
    font-size: 8pt;
    display: initial;
    vertical-align: super;
    /* when original notes showing, display:none */
  }
}

span {
  &.part,
  &.question,
  &.answer {
    font-family: $font-stack;
    display: block;
  }

  &.part {
    margin-left: 6pt;
  }

  &.answer {
    text-indent: 1em;
  }
  &.verse {
    position: relative;
    font-family: $font-stack;
    text-align: left;
    // margin: 0;
    // margin-bottom: 6pt;
    display: block;
    // padding-left: 5px;
    padding: 0 0 6pt 5px;

    w.verse-number {
      vertical-align: unset;
      font-size: inherit;
    }

    div.hidden-paragraph & {
      display: inline; // w.verse-number {
      //   vertical-align: super;
      //   font-size: 8pt;
      // }
    }
  }
  &.show-paragraph.verse {
    display: inline !important;
  }
}
