$font-stack: serif;

w {
  &.marker {
    font-style: italic;
    font-size: 8pt;
  }

  &.verse-number {
    color: DimGray;
    font-weight: bold;
    vertical-align: super;
    font-size: 8pt;
  }
  &.small-caps {
    font-variant: small-caps;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.clarity-word {
    font-style: italic;
  }

  &.key-letter {
    display: none;
  }

  &.key-word {
    font-style: italic;
  }
}

div.paragraph {
  margin-bottom: 6pt;
}

p.subtitle,
p.title-number,
#subtitle1 {
  text-align: center;
}

p.title-number {
  font-weight: bold;
}
p.title-number {
  font-size: 17px;
}

p.study-summary1,
p.study-intro {
  font-style: italic;
}

h2#title1 {
  text-align: center;
  font-size: 12pt;
}
.notes-hide-original {
  w.marker {
    display: none;
  }
}

.notes-show-original {
  w.study-note-ref {
    color: #007fa4;
  }

  w.marker {
    font-style: italic;
    font-size: 8pt;
    display: initial;
    vertical-align: super;
    /* when original notes showing, display:none */
  }
}

#subtitle1 {
  font-size: 1.3em;
  font-weight: bold;
}

:host-context([page-name*='title page']) {
  span.verse {
    text-align: center;
  }
}
span.verse {
  background-color: white;
}
