@import '../styles/color';
.settings-page {
  margin-bottom: 25px;
  label {
    .lever {
      background-color: $accent_color;
    }
    input[type='checkbox']:checked + .lever:after {
      background-color: $primary_color;
    }
    input[type='checkbox']:checked + .lever {
      background-color: $dark_primary_color;
    }
  }
}
.download-btn {
  text-align: center;
}
