@import '../styles/color';

.settings-page {
  @mixin settings-grid($viewPort, $gridTemplateColumns, $settingsGroupWidth) {
    @media #{$viewPort} {
      .settings-group {
        display: grid;
        justify-content: center;
        margin-bottom: 20vw;
        .collection {
          display: grid;

          grid-template-columns: #{$gridTemplateColumns};

          // grid-column-gap: 5px;
          width: #{$settingsGroupWidth};
        }
      }
    }
  }

  $smallSettingsColumn: 225px;
  $largeSettingsColumn: 225px;

  @include settings-grid('screen and (min-width: 320px)', '90vw', 90vw);
  @include settings-grid('screen and (min-width: 500px)', '60vw', (60vw));
  // @include settings-grid('screen and (min-width: 740px)', '70vw', (70vw));
  margin-bottom: 25px;
  label {
    .lever {
      background-color: $accent_color;
    }
    input[type='checkbox']:checked + .lever:after {
      background-color: $primary_color;
    }
    input[type='checkbox']:checked + .lever {
      background-color: $dark_primary_color;
    }
  }
}
.download-btn {
  text-align: center;
}
