<button id="btnNewNotes" [ngClass]="{'nav-btn-on': saveState.data.newNotesVisible}" (click)="navServices.btnNewNotesPress();"
  class="notes-settings">
  <!-- <fa-icon [icon]="faPlus" size="lg"></fa-icon> -->
  New Notes
</button>
<button id="btnEnglishNotes" [ngClass]="{'nav-btn-on': saveState.data.englishNotesVisible}" (click)="navServices.btnEnglishNotesPress();"
  class="notes-settings">
  <!-- <fa-icon [icon]="faPlus" size="lg"></fa-icon> -->
  English Notes
</button>
<button id="btnTranslatorNotes" [ngClass]="{'nav-btn-on': saveState.data.translatorNotesVisible}" (click)="navServices.btnTranslatorNotesPress();"
  class="notes-settings">
  <!-- <fa-icon [icon]="faGlobe" size="lg"></fa-icon> -->
  Translator Notes
</button>
<button id="btnOriginalNotes" [ngClass]="{'nav-btn-on': saveState.data.originalNotesVisible}" (click)="navServices.btnOriginalNotesPress();"
  class="notes-settings">
  <!-- <fa-icon [icon]="faPlus" size="lg"></fa-icon> -->
  Original Notes
</button>
<button id="btnSecondaryNotes" [ngClass]="{'nav-btn-on': saveState.data.secondaryNotesVisible}" (click)="navServices.btnSecondaryNotesPress();"
  class="notes-settings">
  Secondary Notes
  <!-- <fa-icon [icon]="faPlus" size="lg"></fa-icon> -->
</button>
